* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: black;
    color: rgb(226, 217, 217);
}

.main-section {
    width: 100%;
    height: auto;
}

/* not used */
/* .two-forms-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    height: 50%;
} */

.signin-form-wrapper {
    height: auto;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

.signin-form {
    max-width: 50%;
    border: 1px solid white;
    
}

ul {
    margin: 2rem;
    padding: 0;
}

.btn-signin-form {
   display: flex;
   justify-content:center; 
}

/* button + button {
    margin-left: 2rem;
} */

.left {
    margin-right: 2rem;
}

.right {
    margin-left: 2rem;
}

.signup-form-wrapper {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.signup-form {
    max-width: 50%;
    display: none;
    height: auto;
    border: 1px solid white;
}

ul {
    list-style: none;
}

li + li {
    margin-top: 2rem;
}

label {
    display: inline-block;
    width: 40%;
    text-align: right;
}

input {
    margin-left: 1rem;
    font-size: 1.4rem;
    font-family: inherit;
    width: 40%;
}

input:focus {
    outline-color: yellow;
}

.btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.btn-signup-wrapper {
   display: flex;
   justify-content:center; 
}
